<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-required-libraries-and-set-configurations" data-toc-modified-id="Import-required-libraries-and-set-configurations-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import required libraries and set configurations</a></span></li><li><span><a href="#Batch-read-csv-files-and-append-them" data-toc-modified-id="Batch-read-csv-files-and-append-them-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Batch read csv files and append them</a></span></li><li><span><a href="#Treat-missing-values" data-toc-modified-id="Treat-missing-values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Treat missing values</a></span></li><li><span><a href="#Map-values-according-to-data-dictionary" data-toc-modified-id="Map-values-according-to-data-dictionary-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Map values according to data dictionary</a></span></li><li><span><a href="#Modify-date-column-appropriately" data-toc-modified-id="Modify-date-column-appropriately-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Modify date column appropriately</a></span></li><li><span><a href="#Making-lag-variables" data-toc-modified-id="Making-lag-variables-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Making lag variables</a></span></li><li><span><a href="#Remove-columns-which-are-not-required" data-toc-modified-id="Remove-columns-which-are-not-required-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Remove columns which are not required</a></span></li><li><span><a href="#Making-the-key-to-aggregate-data-at" data-toc-modified-id="Making-the-key-to-aggregate-data-at-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Making the key to aggregate data at</a></span></li><li><span><a href="#Dummify-categorical-variables" data-toc-modified-id="Dummify-categorical-variables-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Dummify categorical variables</a></span></li><li><span><a href="#Aggregate-the-data" data-toc-modified-id="Aggregate-the-data-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Aggregate the data</a></span></li><li><span><a href="#Capping-the-target-variable" data-toc-modified-id="Capping-the-target-variable-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Capping the target variable</a></span></li><li><span><a href="#Modify-the-dummy-variables-appropriately" data-toc-modified-id="Modify-the-dummy-variables-appropriately-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Modify the dummy variables appropriately</a></span></li><li><span><a href="#Output-master-data-into-pickle-for-modelling-purpose" data-toc-modified-id="Output-master-data-into-pickle-for-modelling-purpose-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Output master data into pickle for modelling purpose</a></span></li></ul></div>

### Import required libraries and set configurations

In [1]:
# Import required libraries
import os
import numpy as np
import pandas as pd

In [2]:
# Set configuration variables
DATA_INPUT = '../data/raw'
DATA_OUTPUT = '../data/processed/'

### Batch read csv files and append them

In [3]:
# Dataframe to append the csvs to
df = pd.DataFrame()

# Iterate over the list of files in the path
for file in os.listdir(DATA_INPUT):
    
    # Consider only csv files
    if 'csv' in file:   
        
        # Find the path of the csv file
        pathname = os.path.join(DATA_INPUT,file)
        
        # Read the csv file
        print("%s is being read..." % (file))
        temp = pd.read_csv(pathname, low_memory=False, encoding='latin1')
        
        # Strip space from headers so as to not encounter any appending issues
        temp.columns = temp.columns.str.replace(' ','')
        
        # Append the file towards the end sequentially
        df = df.append(temp)
        print("%s has been appended..." % (file))

RO RANDOM W9-1.csv is being read...
RO RANDOM W9-1.csv has been appended...
RO RANDOM W9-2.csv is being read...
RO RANDOM W9-2.csv has been appended...
RO RANDOM W10-1.csv is being read...
RO RANDOM W10-1.csv has been appended...
RO RANDOM W10-2.csv is being read...
RO RANDOM W10-2.csv has been appended...
RO RANDOM W8-2.csv is being read...
RO RANDOM W8-2.csv has been appended...
RO RANDOM W8-1.csv is being read...
RO RANDOM W8-1.csv has been appended...

In [4]:
# Check the dimensions of the appended dataframe
print("Shape of the dataframe is : ", df.shape)

Shape of the dataframe is :  (3976222, 21)

In [5]:
# Check the head of the dataframe
df.head()

,SERIAL,no,id_auditor,id_outlet,OutletSize,OutletBranding,OutletLocation,CITY,SUBREGION,Date,...,Typeofpack,Type,Operator,Brand,NominalofData/SMS,TypeofData/SMS,NominalofPulsa,Quantity,Sellingprice,TotalSellingPrice
0,1,1,ma10011,111406,4,1,2,35,7,7/4/2017,...,5,3,1,1,1.0,GB,NaN,1,16.0,16.0
1,2,2,ma10011,111406,4,1,2,35,7,7/4/2017,...,5,3,3,5,6.0,GB,NaN,1,65.0,65.0
2,3,3,ma10011,111406,4,1,2,35,7,7/4/2017,...,5,3,3,5,12.0,GB,NaN,1,60.0,60.0
3,4,4,ma10011,111406,4,1,2,35,7,7/4/2017,...,5,3,1,2,5.0,GB,NaN,1,40.0,40.0
4,5,5,ma10011,111406,4,1,2,35,7,7/4/2017,...,5,3,2,3,10.0,GB,NaN,1,50.0,50.0

### Treat missing values

In [6]:
# Find out the percentage of missing values 
df.isnull().sum()/df.shape[0]

SERIAL               0.000000
no                   0.000000
id_auditor           0.000000
id_outlet            0.000000
OutletSize           0.000000
OutletBranding       0.000000
OutletLocation       0.000000
CITY                 0.000000
SUBREGION            0.000000
Date                 0.000000
Period               0.000000
Typeofpack           0.000000
Type                 0.000000
Operator             0.000000
Brand                0.000000
NominalofData/SMS    0.910488
TypeofData/SMS       0.921614
NominalofPulsa       0.078871
Quantity             0.000000
Sellingprice         0.000000
TotalSellingPrice    0.000000
dtype: float64

**NominalofFata/SMS** and **TypeofData/SMS** have unusually high rate of missing values. Hence it is better to drop them. For **NominalofPulsa** it is better to impute it with the median.

In [7]:
# Columns to drop
drop_cols = ['NominalofData/SMS', 'TypeofData/SMS']

# Drop the columns
print("Shape of the dataframe before dropping is : ", df.shape)
df = df.drop(drop_cols, axis=1)
print("Shape of the dataframe before dropping is : ", df.shape)

Shape of the dataframe before dropping is :  (3976222, 21)
Shape of the dataframe before dropping is :  (3976222, 19)

In [8]:
# Impute with the median
df['NominalofPulsa'] = df['NominalofPulsa'].fillna(df['NominalofPulsa'].median())

In [9]:
# Sanity check if the operations have been performed properly
df.isnull().sum()/df.shape[0]

SERIAL               0.0
no                   0.0
id_auditor           0.0
id_outlet            0.0
OutletSize           0.0
OutletBranding       0.0
OutletLocation       0.0
CITY                 0.0
SUBREGION            0.0
Date                 0.0
Period               0.0
Typeofpack           0.0
Type                 0.0
Operator             0.0
Brand                0.0
NominalofPulsa       0.0
Quantity             0.0
Sellingprice         0.0
TotalSellingPrice    0.0
dtype: float64

### Map values according to data dictionary

We have created an excel file called **mapping.xlsx** based on **code.xlsx**. The aim is to read this file as a dictionary and repace values based on it, rather than code for it manually.

In [10]:
# Specify the name of the mapping file
file = "mapping.xlsx"

In [11]:
# Read the mapping for city
cityMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='city', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for subregion
subregionMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='subregion', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for outlet size
outletsizeMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='outletsize', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for outlet branding
outletbrandingMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='outletbranding', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for outlet location
outletlocationMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='outletlocation', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for type of pack
typeofpackMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='typeofpack', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for type
typeMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='type', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for operator
operatorMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='operator', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for brand
brandMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='brand', header=None, squeeze=True, index_col=0).to_dict()

# Read the mapping for id outlet
idoutletMapping = pd.read_excel(os.path.join(DATA_INPUT, file), sheet_name='idoutlet', header=None, squeeze=True, index_col=0).to_dict()

Now that we have our mapping files, its time to change these at our main dataset:

In [12]:
# Map for city
df['CITY'] = df['CITY'].map(cityMapping)

# Map for subregion
df['SUBREGION'] = df['SUBREGION'].map(subregionMapping)

# Map for outlet size
df['OutletSize'] = df['OutletSize'].map(outletsizeMapping)  

# Map for outlet branding
df['OutletBranding'] = df['OutletBranding'].map(outletbrandingMapping)  

# Map for outlet location
df['OutletLocation'] = df['OutletLocation'].map(outletlocationMapping)  

# Map for type of pack
df['Typeofpack'] = df['Typeofpack'].map(typeofpackMapping)  

# Map for type
df['Type'] = df['Type'].map(typeMapping)  

# Map for operator
df['Operator'] = df['Operator'].map(operatorMapping)  

# Map for brand
df['Brand'] = df['Brand'].map(brandMapping)  

# Map for id outlet
df['id_outlet'] = df['id_outlet'].map(idoutletMapping)

### Modify date column appropriately

Let us have a look at the data types of the dataframe:

In [13]:
# Check the datatypes
df.dtypes

SERIAL                 int64
no                     int64
id_auditor            object
id_outlet             object
OutletSize            object
OutletBranding        object
OutletLocation        object
CITY                  object
SUBREGION             object
Date                  object
Period                 int64
Typeofpack            object
Type                  object
Operator              object
Brand                 object
NominalofPulsa       float64
Quantity               int64
Sellingprice         float64
TotalSellingPrice    float64
dtype: object

Date column has been represented as a string here. We need to change it to date format. Here is how we would do so:

In [14]:
# Convert to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

Now let us extract the month name:

In [15]:
# Extract month
df['Month'] = pd.DatetimeIndex(df['Date']).month_name()

### Making lag variables

To forecast for the next month, it is imperative that we add a lag variable by shifting TotalSellingPrice by 30. For 3 months forecasting, all we need to do is change this value to 90.

In [16]:
# Introduce a lag variable
df['Lag1'] = df['TotalSellingPrice'].shift(30)
df['Lag1'] = df['Lag1'].fillna(0)

### Remove columns which are not required

There are few columns which are not going to be needed later on. Having a look at brand and operator:

In [17]:
# Check relationship between brand and operator
df.pivot_table(index="Brand", columns="Operator", aggfunc='count', fill_value=0, values="id_outlet")

Operator     3 (THREE)  Bolt  Indosat Ooredoo  SMARTFREN  Telkomsel  XL Axiata
Brand
3 (THREE)       383685     0                0          0          0          0
AXIS                 0     0                0          0          0     244348
Bolt                 0    97                0          0          0          0
IM3                  0     0           625619          0          0          0
KARTU AS             0     0                0          0     781261          0
LOOP                 0     0                0          0     156649          0
MENTARI              0     0           228255          0          0          0
SIMPATI              0     0                0          0     970824          0
SMARTFREN            0     0                0      50905          0          0
XL PRABAYAR          0     0                0          0          0     534579

From the table above, it is clear that each brand is only exclusive to a particular operator. Hence it is better to keep only one of these columns. We shall be keeping brand and dropping operator.

In [18]:
# Check relationship between typeofpack and type
df.pivot_table(index="Typeofpack", columns="Type", aggfunc='count', fill_value=0, values="id_outlet")

Type                                 Data Inject   Reload  Starter Pack
Typeofpack
Kartu Perdana - data                           0        0        211917
Kartu Perdana - regular                        0        0         96128
Voucher Elektronik - Paket Internet        54292        0             0
Voucher Elektronik - Paket SMS                 0     5536             0
Voucher Elektronik - Pulsa                     0  3520039             0
Voucher Fisik - Paket Internet             39936        0             0
Voucher Fisik - Pulsa                          0    48374             0

From the table above, it is clear that each typeofpack is only exclusive to a particular type. Hence it is better to keep only one of these columns. We shall be keeping typeofpack. Likewise, id_auditor and id_outlet have been found to have a similar relationship when checked via an Excel pivot. The only different part would be:

+ We will be aggregating data at id_outlet level.
+ We want to know the effect of the model at each outlet level.
+ We cannot let the algorithm get affected by the cardinality of the number of outlets. The ideal solution would be to group these and then feed them as dummy variables into the model. Hence since, id_auditor has an exclusive relationship with id_outlet, we may consider this as grouping in itself.

In [19]:
# Specify columns to drop. SERIAL and no have no implication on modelling, neither are they unique identifiers. 
drop_cols = ['SERIAL', 'no', 'Sellingprice', 'Quantity', 'Date', 'Operator', 'Type']

# Drop the columns
print("Shape of the dataframe before dropping is : ", df.shape)
df = df.drop(drop_cols, axis=1)
print("Shape of the dataframe before dropping is : ", df.shape)

Shape of the dataframe before dropping is :  (3976222, 21)
Shape of the dataframe before dropping is :  (3976222, 14)

### Making the key to aggregate data at

We shall be aggregating data at id_outlet and Month level:

In [20]:
# Make the key on id_outlet and Month
df['key'] = df['id_outlet'] + df['Month']
drop_cols = ['Month', 'id_outlet']

# Drop the unrequired columns
df = df.drop(drop_cols, axis=1)

### Dummify categorical variables

In [21]:
# Specify columns which need not be dummified
req_cols = ['NominalofPulsa', 'key', 'TotalSellingPrice', 'Lag1']

# Columns which need dummification are the total columns - the columns mentioned above
dummify_cols = df.copy().drop(req_cols, axis=1).columns.tolist()

# Dummify the data 
master = pd.get_dummies(df, columns=dummify_cols, drop_first=True)

###  Aggregate the data

In [22]:
# Roll up the data on the key specified
master = master.groupby('key').sum()

# Print shape of the master data
print("Shape of the master data is :", master.shape)

Shape of the master data is : (6798, 175)

### Capping the target variable

Let us have a look at the target variable distribution:

In [23]:
percentiles = [0.1, 0.2, 0.25, 0.3, 0.4, 0.5, 0.6, 0.7, 0.75, 0.8, 0.9, 0.99]
master['TotalSellingPrice'].describe(percentiles)

count      6798.000000
mean      10146.225552
std        9971.681513
min           8.000000
10%         704.700000
20%        1348.000000
25%        2537.500000
30%        4086.300000
40%        6639.400000
50%        8444.500000
60%       10102.600000
70%       12225.700000
75%       13494.750000
80%       14986.800000
90%       22018.100000
99%       44715.840000
max      221801.000000
Name: TotalSellingPrice, dtype: float64

We shall be capping the value at the 99th percentile so as to not skew our model predictions.

In [24]:
CAPPED_VALUE = master['TotalSellingPrice'].describe(percentiles)[15]
master['TotalSellingPrice'] = np.where(master['TotalSellingPrice'] > CAPPED_VALUE, CAPPED_VALUE, master['TotalSellingPrice'])

### Modify the dummy variables appropriately

We shall be changing the dummy variables which are greater than 1 to 1.

In [25]:
# Pick all the columns except the numerical column and the target
req_cols = ['NominalofPulsa', 'TotalSellingPrice', 'Lag1']
change_cols = master.copy().drop(req_cols, axis=1).columns.tolist()


# Change dummy cols appropriately
master[change_cols] = master[change_cols].applymap(lambda x: 1 if 1 <= x else 0)

### Output master data into pickle for modelling purpose

In [26]:
# Write the results to pickle file
master.to_pickle(os.path.join(DATA_OUTPUT, "master.pickle"))